# .clangd 파일

CompileFlags:
  Add: 
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -mfpu=fpv4-sp-d16
    - -mfloat-abi=hard
    - -mthumb
    - -isystem
    - "C:/Program Files (x86)/Arm GNU Toolchain arm-none-eabi/14.3 rel1/bin/../lib/gcc/arm-none-eabi/14.3.1/include"
    - -isystem
    - "C:/Program Files (x86)/Arm GNU Toolchain arm-none-eabi/14.3 rel1/bin/../lib/gcc/arm-none-eabi/14.3.1/include-fixed"
    - -isystem
    - "C:/Program Files (x86)/Arm GNU Toolchain arm-none-eabi/14.3 rel1/bin/../lib/gcc/arm-none-eabi/14.3.1/../../../../arm-none-eabi/include"
    - -Wno-unknown-warning-option
  CompilationDatabase: build/Debug

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Remove: ["*"]
  Suppress: [unused-includes, missing-includes, drv_unknown_argument]

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes